<div class="container text-center text-white">
  	<h1 class="mt-5">Bienvenido al Administrador de Tylox {{user.firstName}} {{user.lastName}}</h1>
	<div class="row">
		<div class="tdimension">
			<img src="" alt="" class="img-fluid">
		</div>
	</div>
</div>