{{> admin/admin-header}}

<body id="page-top">

{{> admin/admin-topnav}}
<div id="content-wrapper">

      {{> admin/messages}}          

      {{{body}}}
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
    
{{> admin/admin-footer}}
</body>

</html>
