<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{#each templates}}
        <li class="nav-item">
          {{#if isActive}}
          <a class="nav-link" href="{{htmlFile}}">Acerca</a>
          {{/if}}
        </li>
        {{/each}}
        {{#if user}}
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Administrador</a>
          </li>
          {{/if}}
          <li class="nav-item dropdown no-arrow">
              <a class="nav-link" href="/logout" class="fa fa-fw fa-sing-out">Cerrar Sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registro</a>
          </li>
        {{/if}}        
      </ul>
    </div>
  </div>
</nav>